<ul class="list-group">
    <li class="list-group-item" *ngFor="let personaje of Personajes">Nombre: {{ personaje.nombre }}<br><br>Poder: {{ personaje.poder }}</li>
</ul>

<form #itemForm="ngForm" (ngSubmit)="nuevoPersonaje(itemForm)">
    <label for="nombre">Nombre: </label>
    <input class="form-control" name="nombre" type="text" ngModel required /><br><br>

    <label for="poder">Poder: </label>
    <input class="form-control" name="poder" type="number" min="0" ngModel required /><br><br>
    
    <button type="submit">Submit</button>
</form>
